/* start global rules */
:root {
  --main--color: #19c8fa;
  --secondary--color: #16667ede;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}
/* s heading */
.s-heading {
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 500;
}
.s-heading::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -112px;
  width: 120px;
}
.s-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -120px;
  background-color: white;
}
.s-heading + p {
  color: #333;
  text-align: center;
  margin-top: 50px;
}
/* s heading */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* start header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px white solid;
}
header .logo img {
  max-height: 70px;
}
header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  header nav ul {
    display: none;
  }
  .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .toggle-menu:hover + ul li {
    padding: 15px;
    padding-left: 0;
  }
  .toggle-menu + ul li a {
    padding: 15px;
  }
  .toggle-menu + ul li a:hover {
    color: var(--main--color);
  }
  header nav .search {
    margin-right: 10px;
  }
}
header nav ul li a {
  padding: 36px 10px;
  color: white;
}

header nav .toggle-menu {
  color: white;
  font-size: 22px;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
  header nav ul li a:hover {
    z-index: 2;
    border-bottom: 1px var(--main--color) solid;
  }
}
header nav .search {
  margin-left: 30px;
}
header nav .search i {
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-left: 10px;
}
header nav .search i::after {
  content: "";
  position: absolute;
  height: calc(100% + 10px);
  width: 2px;
  background: white;
  top: -5px;
  left: -5px;
}
/* end header */
/* start landing */
.landing {
  background: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/landing.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.landing .land-text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--secondary--color);
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.landing .arrows .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
  cursor: pointer;
}
.landing .l-arrow {
  position: absolute;
  left: 30px;
  transform: translate(50%, 50%);
}
.landing .r-arrow {
  position: absolute;
  left: calc(100% - 50px);
}
.bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.bullets li {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 10px;
  cursor: pointer;
}
.bullets li.active {
  background-color: var(--main--color);
}
/* end landing */
/* start about */
.about {
  background-color: white;
  overflow: hidden;
  text-align: center;
}
.about img {
  position: relative;
  bottom: -120px;
  margin-top: 0px;
  max-width: 100%;
}
/* end services */
/* start stats */
.stats {
  background: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/stats.png);
  padding: 30px;
}
.stats .container {
  display: flex;
  background-color: var(--secondary--color);
  justify-content: space-evenly;
  padding: 20px;
  flex-wrap: wrap;
}
.stats .container .box {
  padding: 40px;
  text-align: center;
  color: white;
}
.stats .container .box i {
  color: black;
  font-size: 30px;
}
.stats .container .box .number {
  font-weight: bold;
  font-size: 40px;
}
.stats .container .box * {
  padding: 10px;
  font-size: 20px;
}
@media (max-width: 1268px) {
  .stats .container .box{
    flex-basis: 50%;
  }
}
/* end stats */
